@use '@angular/material' as mat;

:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../../public/AdobeStock_556468321-scaled.webp');
  background-size: cover;
  background-position: center;
  @include mat.card-overrides(
    (
      elevated-container-color: var(--mat-sys-secondary-container),
      elevated-container-elevation: red,
    )
  );

  mat-card {
    max-width: 300px;
    width: 300px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    mat-card-content {
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        mat-form-field {
          mat-error {
          }
        }
      }
    }
    mat-card-footer {
      padding-bottom: 20px;
    }
  }
}
