<mat-card>
  <mat-card-header>
    <mat-card-title> Welcome </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (submit)="onSubmit($event)">
      <mat-form-field appearance="outline">
        <mat-label for="username">Username</mat-label>
        <input id="username" type="text" matInput [formField]="loginForm.userName" />
      </mat-form-field>
      @if (loginForm.userName().touched() && loginForm.userName().invalid()) {
        @for (error of loginForm.userName().errors(); track $index) {
          <mat-error>{{ error.message }}</mat-error>
        }
      }
      <mat-form-field appearance="outline">
        <mat-label for="password">Password</mat-label>
        <input id="password" type="text" matInput [formField]="loginForm.password" />
      </mat-form-field>
      @if (loginForm.password().touched() && loginForm.password().invalid()) {
        @for (error of loginForm.password().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
      }
      <button type="submit" [disabled]="!loginForm().valid()" matButton>Log In</button>
    </form>
  </mat-card-content>
  <mat-card-footer>
    @if (loginError()) {
      <mat-error>{{ loginError() }}</mat-error>
    }
  </mat-card-footer>
</mat-card>
