@if (serviceAuth.isAuthenticated()) {
  <div class="container-tabs">
    @for (board of dashboards(); track board.id) {
      <button
        [ngClass]="board.id === activeBoard()?.id ? 'active' : ''"
        role="button"
        matFab
        extended
        [tabIndex]="board.id"
        (keyup)="onClickBoard(board.id)"
        (click)="onClickBoard(board.id)"
      >
        <mat-icon>{{ board.icon }}</mat-icon>
        {{ board.title }}
      </button>
    }
  </div>
  <div class="user-inf-container">
    <span class="inf">{{ user()?.initials }}</span>
    <button role="button" matFab extended (click)="serviceAuth.logout()">
      <mat-icon>logout</mat-icon>
      logout
    </button>
  </div>
} @else {
  <a matFab extended routerLink="/login">
    <mat-icon>login</mat-icon>
    Login
  </a>
}
