@if (serviceAuth.isAuthenticated()) {
  <div class="container-tabs">
    @for (board of dashboards(); track board.id) {
      <button
        role="button"
        matFab
        extended
        [tabIndex]="board.id"
        (keyup)="onClickBoard(board.id)"
        (click)="onClickBoard(board.id)"
      >
        <mat-icon>{{ board.icon }}</mat-icon>
        {{ board.title }}
      </button>
    }
  </div>
  <!-- <div class="container-info">
    <span>A</span>
    <a matFab extended routerLink="/" (click)="serviceAuth.logout()">
      <mat-icon>logout</mat-icon>
    </a>
  </div> -->
} @else {
  <a matFab extended routerLink="/login">
    <mat-icon>login</mat-icon>
    Login
  </a>
}
