@if (serviceAuth.isAuthenticated()) {
  <div class="container-tabs">
    @for (board of dashboards(); track board.id) {
      <a
        [ngClass]="board.id === activeBoard() ? 'active' : ''"
        role="button"
        matFab
        extended
        [routerLink]="['dashboards', board.id]"
        [tabIndex]="board.id"
      >
        <mat-icon>{{ board.icon }}</mat-icon>
        {{ board.title }}
      </a>
    }
  </div>
  <div class="user-inf-container">
    <span class="inf">{{ userInfo()?.initials }}</span>
    <button role="button" matFab extended (click)="serviceAuth.logout()">
      <mat-icon>logout</mat-icon>
      logout
    </button>
  </div>
} @else {
  <a matFab extended routerLink="/login">
    <mat-icon>login</mat-icon>
    Login
  </a>
}
