@use '@angular/material' as mat;

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;

  @include mat.fab-overrides(
    (
      container-color: var(--mat-sys-on-surface-variant),
      foreground-color: var(--mat-sys-surface),
      extended-label-text-size: var(--mat-sys-body-large-size),
      extended-container-shape: 5px,
    )
  );
}
.active {
  font-size: --mat-sys-t;
  @include mat.fab-overrides(
    (
      container-color: var(--mat-sys-on-primary-container),
    )
  );
}
.container-tabs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
.user-inf-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  span {
    flex-basis: 50px;
    padding: 5px;
    border-radius: 100px;
    text-align: center;
    font: var(--mat-sys-headline-large);
  }
  button {
    width: max-content;
    flex-grow: 1;
  }
}
