@use '@angular/material' as mat;
@use './styles/scss-material-variables';

html {
  color-scheme: dark;
  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: (
        plain-family: Roboto,
        brand-family: Open Sans,
        title: 24px,
        bold-weight: 900,
        medium-weight: 500,
        regular-weight: 300,
      ),
      density: 0,
    )
  );
  font: var(--mat-sys-body-small);
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--mat-sys-surface-container);
  color: var(--mat-sys-on-surface);
  margin: 0 auto;
  max-width: 1280px;
  overflow: auto;
}
* {
  box-sizing: border-box;
}
